.displayContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* max-height: 70vh; */
    max-height: 100vh;
    overflow-y: auto;
    padding: 1.5rem;


    padding-bottom:38vh;
    /* background-color: #DAE5F5;   */
}
.messageContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 10px;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}
.content{
    white-space: pre-line;
    color: #000;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160.188%; /* 1.80213rem */
    letter-spacing: 0.03938rem;
}
.dateTime{
    display: flex;
    justify-content: flex-end;
    color: #353535;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 97.688%; /* 1.099rem */
    letter-spacing: 0.0225rem;
}
.bullet{
    font-size: 2rem;
    color: #353535;
}


@media screen and (max-width:500px) {
    .displayContainer{
        gap: .2rem;
        padding: 1rem;
        padding-bottom:38vh;
    }
    .messageContainer{
        gap: .5rem;
    }
    .content{
        font-size: 0.9rem; 
    }
    .dateTime{
        font-size: 0.91rem;
    }
    .bullet{
        font-size: 1.5rem;
    }

}